*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(73, 53, 255, 0.8);
    transition: all 1s;
    .calc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 65%;
        border: 4px solid black;
        border-radius: 50px;
        box-shadow: 0 0 5px rgba(0,0,0, 0.8);
        background-color: rgba(207, 237, 255, 0.74);
        .display{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 25%;
            span{
                position: relative;
                width: 95%;
                height: 50%;
                margin-top: 15px;
                z-index: 1;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(45deg, red,blue,deeppink,blue,red,blue,deeppink, blue);
                    background-size: 800%;
                    border-radius: 10px;
                    filter: blur(4px);
                    animation: brillo 20s linear infinite;
                }
                #frame{
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: right;
                    border: 1px solid blue;
                    border-radius: 12px;
                    outline: none;
                }
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            .primera-col,
            .segunda-col,
            .tercera-col,
            .cuarta-col,
            .quinta-col{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                gap: 15px;
                margin-bottom: 5px;
                input{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    font-size: 50px;
                    cursor: pointer;
                    background-color: antiquewhite;
                    font-weight: bold;
                    &:hover{
                        box-shadow: 0 0 3px rgb(0, 0, 0) inset;
                    }
                }
                input[value="."]{
                    line-height: 80px;
                    font-size: 60px;
                }
                input[value='C']{
                    background-color: rgba(255, 0, 0, 0.733);
                    color: white;
                    font-weight: bold;
                    &:hover{
                        box-shadow: 0 0 3px rgb(85, 1, 1) inset;
                    }
                }
                .op{
                    background-color: aqua;
                    color: rgb(97, 39, 173);
                    font-weight: bold;
                    &:hover{
                        box-shadow: 0 0 4px rgb(0, 0, 0) inset;
                    }
                }
                span{
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    .esp{
                        position: relative;
                        font-size: 80px;
                        color: purple;
                        --ionicon-stroke-width: 40px;
                        // filter: drop-shadow(0 0 2px #000);
                        transform: scale(1.2);
                        cursor: pointer;
                        &:hover{
                            filter: drop-shadow(0 0 1px rgb(0, 0, 0));
                        }
                    }
                    .igual{
                        transform: scale(1.5);
                        &:hover{
                            filter: drop-shadow(0 0 1px rgb(10, 10, 10));
                        }
                    }
                    .swap{
                        transform: scale(1);
                        color:rgb(235, 235, 140);
                        filter: drop-shadow(0 0 1px rgb(146, 145, 145));
                        transition: all 300ms;
                        &:hover{
                            filter: drop-shadow(0 0 2px rgb(0, 0, 0));
                        }
                    }
                    .github{
                        transform: scale(1);
                        color:rgb(255, 255, 255);
                        transition: all 300ms;
                        &:hover{
                            filter: drop-shadow(0 0 4px rgb(0, 0, 0));
                        }
                    }
                }
            } 
        }
    }
}

@keyframes brillo{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }   
    100%{
        background-position: 0 0;
    }        
}

@media screen and (max-width: 1500px){
    body{
        .calc{
            width: 30%;
        }
    }
    
}